.btn {
  display:inline-block;
  width:180px;
  background-color: @color-main;
  border-radius:50px;
  


    a {
    display:block;
    padding:12px 15px 12px 42px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: @font-family;
    font-size: @text-size-smaller;
    letter-spacing: 0.05em;
    color:white;
    text-align:center;
    }

    &__icon-calendar {
      background-image: url('../img/btn_icon.png');
      background-repeat:  no-repeat;
      background-position: 20px center;
      }

    &--white-border {
      background-color: transparent;
      border: 3px solid white;
      margin: 0 auto;
      a {
      padding: 10px 30px;
    }
    }
  }

  &-vk {
    background-image: url('../img/vk_icon.jpg');
    background-repeat:  no-repeat;
  }


    &-fb {
    background-image: url('../img/fb_icon.jpg');
    background-repeat:  no-repeat;
  }


