.gallery {

	&__main-image {
	
	//background: url('../img/gal_1.jpg'), no-repeat, center;


	@media (min-width:355px) {
		//min-height: 320px;
		//width:760px;
	}
	@media (min-width: 1235px) {
					width:1180px;

				}

				img {
				max-width:100%;
				height:auto;
				}
}
	
}