.main-nav {
	display:none;

	

		@media (min-width: 1200px) {
		display: inline-block;
		min-width:500px;
		margin: auto; 
		
		}

		&__list {
		display:block;
		margin:0 auto;

		@media (min-width: 1200px) {
		display: inline-block;
		min-width:500px;
		margin: auto;
		list-style: none;
		white-space: nowrap;
		padding:0px 0px;
		margin: 0px 0px;
		font-family: @font-family;
  		font-size: @text-size-smaller;
		}
		}

		&__item {
		display: block;
			a {
					display:block;
        			padding:5px 0px;
        			text-decoration: none;
        			color:@gray-color-dark;
        			text-transform:uppercase;
        	}

			@media (min-width: 1200px) {
			display: inline-block;
			margin-right:20px;

				a {
					display:block;
					position:relative;
        			padding:5px 0px;
        			text-decoration: none;
        			color:@gray-color-dark;
        			text-transform:uppercase;
        			

        			&::after {
        				content: ' ';
        				display:block;
        				position:absolute;
            			width: 50%;
            			margin-left: 15px;
            			height: 30px;
            			border-top:3px solid #a1a1a1;
            			top:25px;
            			}

        			&:hover {
        			color: @color-main;
        				&::after {
        					border-top-color: @color-main;
        				}
        				
					}
				}
			}


		}
			
	
	&__burger {	
		background: url('../img/burger_menu.png') no-repeat;
  		display:block;
  		width:29px;
  		height:15px;
        padding:5px 0px;
        text-decoration: none;
        color:@gray-color-dark;
        text-transform:uppercase;
        order:1;
    @media (min-width: 1200px) {
		display: none;}
	}
}

