.offers {


		h2 {
			margin:0px 0px;
			font-family: @font-family-title;
  			font-size: @text-size-big;
  			margin-left: 100px;
  			margin-right: 100px;
  			text-align: center;
  			margin-top:35px;
  			margin-bottom:35px;
  			}
}