.rest-tabs__top {
  width: 100%;
}
.rest-tabs__top-item {
  background-image: url('../img/banner3.png'), url('../img/banner2.png'), url('../img/banner1.jpg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left center, right center, center center;
  border: 1px solid white;
  display: block;
  height: 320px;
  width: 1380px;
}
.rest-tabs__top-item-inner {
  padding-top: 20px;
}
